www-dev.ecoquants.com {
	encode zstd gzip
	templates
	file_server browse
}

rstudio.ecoquants.com {
  reverse_proxy rstudio:8787
}

shiny.ecoquants.com {
  reverse_proxy rstudio:3838
}

api.ecoquants.com {
  reverse_proxy rstudio:8888
}

:8080 {
	respond "I am 8080"
}

:8081 {
	respond "I am 8081"
}


